Source: qcom-diag-router
Maintainer: Jairaj Solanki <jsolanki@qti.qualcomm.com>
Standards-Version: 4.6.2
Section: misc
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Arch:
 libqrtr1,

Package: qcom-diag-router
Architecture: arm64
Description: Qualcomm Diag router daemon
 Daemon for routing Qualcomm diagnostic messages between the host and modem.
Section: utils
Depends:
 qcom-libdiag,
 ${misc:Depends},
 ${shlibs:Depends},
