Source: qcom-diag-router
Maintainer: Agathe Porte <agathe.porte@oss.qualcomm.com>
Standards-Version: 4.6.2
Section: non-free/utils
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Arch:
 libqrtr1,

Package: qcom-diag-router
Architecture: arm64
Description: Qualcomm Diag router daemon
 Daemon for routing Qualcomm diagnostic messages between the host and modem.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
