Source: qcom-diag-router
Maintainer: Agathe Porte <agathe.porte@oss.qualcomm.com>
Standards-Version: 4.7.4
Section: non-free/utils
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Arch:
 libqrtr1,
Vcs-Browser: https://github.com/qualcomm-linux/pkg-diag-router
Vcs-Git: https://github.com/qualcomm-linux/pkg-diag-router.git

Package: qcom-diag-router
Architecture: arm64
Description: Qualcomm Diag router daemon
 Daemon for routing Qualcomm diagnostic messages between the host and modem.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
